@tailwind base;
@tailwind components;
@tailwind utilities;

.btnStyle{
  color: #ffffff;
  background: #FF6F3F;
  padding: 16px 32px;
  border-radius: 40px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Lora", serif;
}
.pat-container{
  @apply max-w-[1320px] px-3 2xl:px-0 mx-auto
}